:root {
  /*
    - http: //jxnblk.com/colorable/demos/matrix/;
    - http://colormind.io/bootstrap/
  */
  --light-shades: #f8f8f8;
  --light-accent: #a9ad88;
  --main: #ffba00;
  --dark-accent: #2386a2;
  --dark-shades: #2b2200;
}
